/* Theme Styles
 *
 * Styles for Animal Liberation Collective
 ==========================================*/

p { font-size: 1.1em }

.title-cover {
	background-color: #81c784;
	background-image: url('../assets/images/cow.jpg');
	background-position: center; background-size: cover;
}

.feature-cover {
	background-image: url('../assets/images/county-bldg-brutal-angle-bottom.jpg');
	background-position: center; background-size: cover;
}
