<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Liberation Collective | A Faction of Direct Action Everywhere</title>
    <meta name="description" content="A consensus-driven, collectively controlled entity that chapters may recognize as the definitive authority over the Direct Action Everywhere identity." />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Liberation Collective">
    <meta name="twitter:description" content="A consensus-driven, collectively controlled entity that chapters may recognize as the definitive authority over the Direct Action Everywhere identity.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Liberation Collective" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://liberation.global/" />
    <!-- <meta property="og:image" content="" /> -->
    <meta property="og:description" content="A consensus-driven, collectively controlled entity that chapters may recognize as the definitive authority over the Direct Action Everywhere identity." />
    <meta property="og:site_name" content="Liberation Collective" />
    <!-- Icons -->
    <!-- <link rel="shortcut icon" href="assets/icons/bf44.png" type="image/x-icon" />
    <link rel="icon" href="assets/icons/bf15.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="assets/icons/bf57.png" /> -->
    <!-- CSS  -->
    <link href="/static/css/core/core.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="/static/css/theme.css" type="text/css" rel="stylesheet" media="screen" />
  </head>
  <body>
    {% if submitted %}
    <div class="black padding lime-text">
      <div class="row">
        <div class="col s12">
          <div class="container center">
            <p>Thanks for your submission! {{email}} was successfully subscribed.</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="title-cover">
      <div class="row">
        <div class="col s12">
          <div class="solitary comfortable">
            <div class="jagged charcoal center">
              <h1 class="fittext heavy baffle-longer lucida-text vanilla-text">Liberation Collective</h1>
            </div>
            <h2 class="fittext-compress arial-text center baffle-longer vanilla-text smallcaps heavy oblique">A faction of Direct Action Everywhere</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="water">
      <div class="container">
        <div class="row">
          <div class="col s12 no-padding">
            <section class="center">
              <h3 class="charcoal-text lucida-text fittext-h4 heavy charcoal-text">A grassroots network doesn’t need top-down leadership, it needs collective control over its identity and its means of communication.</h3>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="box-shadow-triple charcoal white-text comfortable">
              <h4 class="lucida-text fittext-h3">The New DxE</h4>
              <p>LC is a consensus-driven, collectively controlled entity that chapters may recognize as the definitive authority over the <em>Direct Action Everywhere</em> identity. It replaces the authority of DxE Global.</p>
              <p>LC offers collective control over certain shared resources among the DxE network, notably channels of communication like email lists, forums, and chatrooms. It also owns DxE related websites and social media accounts. One of our websites displays a map of chapters, and as a consequence, we will get to determine which chapters we think are valid, and who we'd like to recognize as international organizers.</p>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="box-shadow-triple charcoal white-text comfortable">
              <h4 class="lucida-text fittext-h3">What we Control</h4>
              <p>Liberation Collective has control over these resources:</p>
              <ul>
                <li>dxe.network</li>
                <li>directactioneverywhere.org</li>
                <li>directactioneverywhere.co</li>
                <li>liberationpledge.social</li>
                <li>liberationpledge.co</li>
                <li>liberationpledge.org</li>
                <li>dxe.press</li>
                <li>dxe.design</li>
                <li><em><a href="https://www.instagram.com/directactioneverywhere/" target="_blank">directactioneverywhere</a></em> on Instagram</li>
                <li><em><a href="https://twitter.com/dxeverywhere" target="_blank">DxEverywhere</a></em> on Twitter</li>
                <li><em><a href="https://medium.com/direct-action-everywhere-dxe" target="_blank">direct-action-everywhere-dxe</a></li> on Medium
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vanilla padding">
      <div class="row">
        <div class="col s12 no-padding center white-text">
          <div class="jagged gray">
            <div class="container">
              <a id="sign-up"></a>
              <h1 class="lucida-text heavy">Reclaim the Network</h1>
              <div class="center">
                <form action="" method="post">
                  <p class="bigger">Enter your email address to stay up to date with Liberation Collective.</p>
                  <div style="margin-top: 3.25em;">
                    <div class="white-text lucida-text">
                      <label for="email">Email Address <span style="font-size: 10px;">Required</span></label>
                      <input value="" name="email" class="required email black-text" id="email" aria-required="true" required type="email" placeholder="you@example.com" style="display: block; padding: 8px; margin: 0 auto;">
                    </div>
                    <!-- <a href="mailto:admin@animalliberation.global" class="btn charcoal heavy invert-hover white-text flow-text box-shadow-double">Become a Member</a> -->
                    <input value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn charcoal heavy invert-hover white-text flow-text box-shadow-double" type="submit">
                  </div>
                </form>
                <p class="padding"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row feature-cover">
      <div class="col s12">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <p class="flow-text lucida-text white-text wave-text">Frequently asked questions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vanilla-bean">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="triple-col pad30">
              <div class="flow-text tahoma-text">
                <h4>Q: Why did Liberation Collective form?</h4>
                <p class="grey-text"><strong>A:</strong> Prior to forming LC, <em>DxE Global</em> was the singular authority over shared resources used by DxE chapters, such as mailing lists, forums, and websites. <em>DxE SF Bay</em>, the owners of DxE Global, have repeatedly silenced dissent of leadership, abused their power, silenced concerns of racism, silenced victims of sexual assault, and promoted an image of the network that activists disagree with. LC was formed to sieze collective control over resources used by the network and to re-establish Direct Action Everywhere as the grassroots animal liberation platform that it truly is.</p>
              </div>
              <hr class="jagged-rule-dark" />
              <div class="flow-text tahoma-text">
                <h4>Q: What makes you think you get to have any authority over DxE chapters?</h4>
                <p class="grey-text"><strong>A:</strong> Direct Action Everywhere is a platform, not an organization. Therefore, all DxE groups are fully autonomous, self-goverened organizations. DxE chapters may choose to recognize us as the definitive authority rather than DxE SF Bay, or not. Since we offer collective control, we think that we are a more appealing option.</p>
              </div>
              <hr class="jagged-rule-dark" />
              <div class="flow-text tahoma-text">
                <h4>Q: What is meant by <em>collective control</em>?</h4>
                <p class="grey-text"><strong>A:</strong> If you organize a DxE group or chapter, the barrier of entry of joining the collective is quite low. When you are a member of the collective, you may raise proposals as well as vote on proposals during regular member meetings. Your participation in this group will directly impact the way shared DxE resources are used.</p>
              </div>
              <p class="padding"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="charcoal vanilla-bean-text tahoma-text">
      <!-- <div class="row">
        <div class="col s12 m3">
          <div class="padding">
            <h5 class="lucida-text">About Us</h5>
            <p>The purpose of LC is to offer collective control over certain shared resources among the DxE network, notably channels of communication within the network as well as public websites.</p>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="padding">
            <h5 class="lucida-text">Quick Links</h5>
            <ul>
              <li><a href="https://directactioneverywhere.org">directactioneverywhere.org</a></li>
            </ul>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="padding">
          	<h5 class="lucida-text">More Info</h5>
          	<ul>
          		<li><a href="#">Link 1</a></li>
          		<li><a href="#">Link 2</a></li>
          		<li><a href="#">Link 3</a></li>
          		<li><a href="#">Link 4</a></li>
          	</ul>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="padding">
          	<h5 class="lucida-text">Social</h5>
          	<ul>
          		<li><a href="#">Facebook</a></li>
          		<li><a href="#">Twitter</a></li>
          		<li><a href="#">Instagram</a></li>
          		<li><a href="#">SnapChat</a></li>
          	</ul>
          </div>
        </div>
      </div> -->
      <div class="row black">
        <div class="col s12 center white-text">
          <p class="padding">&copy; 2017 <em>Liberation Collective</em>. Licensed under CC-BY-SA 4.0.</p>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/brutalist.js"></script>
    <script src="/static/js/start.brutalizing.js"></script>
  </body>
</html>
